
.mowbray_info {
  position: absolute;
  top: 100px;
  width: 98.7%;
  height: 10px;
  min-width: 50px;
}

#yes_yall{
margin-top: -38px;
text-align: center;
}


.social_logo {
  display: inline-block;
  height: 27px;
  width: 27px;
  margin-top: 25.5px;
}

#link_bar {
  display: inline-block;
  float: right;
  margin-top: -117px;
}

#main_image {
  position: relative;
  width: 100%;
}

#profile_pic {
position: relative;
float: left;
height: 85px;
width: 85px;
margin-top: -940px;
margin-right: 10px;

}

.change_color {
  border: 2px solid black;
}

.info_bar {
  position: relative;
  margin-top: -80px;
  display: inline-block;
  font-size: 1.1em;
  font-family: futura;
  color: black;
  font-weight: 700;
  padding-top: 0px;
  padding-right: 6%;
  padding-bottom: 0px;
  padding-left: 6%;

}

h3  {
  position: relative;
  margin-top: -942px;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  font-family: futura;
  text-align: center;

}


article {
  position: relative;
  background-color: white;
  font-family: futura;
  font-size: 14px;

  padding: 1em;
  margin: auto;
  opacity: .9;
  border-radius: 1em;
  margin-top: 100px;
  color: #B80000;
   width: 60%;
    height: 700px;
    overflow: scroll;


}
article.scroll {
background-color: #00FFFF;
    width: 100px;
    height: 100px;
    overflow: scroll;
}
}


#footer {
  position: relative;
  width: 100px;
  height: 30px
  font-family: futura;
  float: right;
  text-align: center;
  color: white;

  right: 8px;
  opacity: .6;
  background-color: #B80000;
  border-radius: .5em;
}

#footer2 {
  position: relative;
  width: 100px;
  height: 30px
  font-family: futura;
  float: right;
  text-align: center;
  color: white;
  bottom: -195px;
  right: 8px;
  opacity: .5;
  background-color: #B80000;
  border-radius: .5em;
}

a:link {
color: black;
}

a:visited {
color: black;
}

a:hover {
    color: #B80000;
}



.footer{
  width: 100%;
  font-family: futura, sans-serif;
  text-align: right;
  background-color: #0A1040 ;
  color:white;
  bottom: 0;
  left: 0;

#all_blogs {
position: relative;
  background-color: yellow;
  text-align: center;
  margin-top: -1000px;
  color: yellow;

}

