
.mowbray_info {
  position: absolute;
  top: 100px;
  width: 98.7%;
  height: 10px;
  min-width: 50px;
}

#yes_yall{
margin-top: -38px;
text-align: center;
}


.social_logo {
  display: inline-block;
  height: 27px;
  width: 27px;
  margin-top: 25.5px;
}

#link_bar {
  display: inline-block;
  float: right;
  margin-top: -117px;
}

#main_image {
  position: relative;
  width: 100%;
}

#profile_pic {
position: relative;
float: left;
height: 85px;
width: 85px;
margin-top: -940px;
margin-right: 10px;

}


.info_bar {
  position: relative;
  margin-top: -80px;
  display: inline-block;
  font-size: 1.1em;
  font-family: futura;
  color: black;
  font-weight: 700;
  padding-top: 0px;
  padding-right: 6%;
  padding-bottom: 0px;
  padding-left: 6%;

}

h3  {
  position: relative;
  margin-top: -942px;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  font-family: futura;
  text-align: center;

}

#footer {
  position: relative;
  font-family: futura;
  text-align: center;
  color: white;
  bottom: -850px;
}

a:visited {
color: black;
}

a:links {
color: black;
}

