.post {
  text-align: center;
  background-color: #0A1040;
  color: white;
  font-family: Futura;
  border: 3px solid white;
  padding-bottom: 0px;
  margin-bottom: -20px;
}


.date {
  background-color: #0A1040;
  font-family: Futura;
  color: white;
    border: 2px solid white;
  width: 15%;
  margin-top: 35px;
}

h4 {
  text-align: center;
}

.about {
  background-color: #0A1040;
  font-family: Futura;
  color: white;
  border: 2px solid white;
  width: 15%;
}

.cultblogs {
  background-color: #0A1040;
  font-family: Futura;
  color: white;
  border: 2px solid white;
  width: 15%;
}

.techblogs {
  background-color: #0A1040;
  font-family: Futura;
  color: white;
  border: 2px solid white;
  width: 15%;
}
.projects {
  background-color: #0A1040;
  font-family: Futura;
  color: white;
  border: 2px solid white;
  width: 15%;
}

.social {
  background-color: #0A1040;
  font-family: Futura;
  color: white;
  border: 2px solid white;
  width: 15%;
}
#postimg {
  margin-left: 6%;
  margin-top: -403px;
  text-align: center;
  margin-bottom: 30px;
  width: 50%;
}


.content {
  margin-left: 25%;
  width: 50%;
  text-align: left;

}

p {
  font-family: Futura;
  font-size: 18px;
}

a:visited {
  color: white;
}

a:hover {
color: yellow;
}