.post {
  text-align: center;
  width: 100%;
  background-color:#0A1040;
  font-family: futura, sans-serif;
  color:white;

}

.subtitle {
  text-align: center;
  width: 100%;
  background-color:#0A1040;
  font-family: futura, sans-serif;
  color:white;
}

.about {
  width: 200px;
  height:50px;
  background-color: #0A1040 ;
  color:white;
   font-family: futura, sans-serif;
  text-align: center;
}

.cultblogs {
  width: 200px;
  height:50px;
  background-color: #0A1040 ;
  color: white;
   font-family: futura, sans-serif;
  position: relative;
  text-align: center;

}
.techblogs {
  width: 200px;
  height:50px;
  background-color: #0A1040 ;
  color: white;
   font-family: futura, sans-serif;
  position: relative;
  text-align: center;

}

.contact {
  width: 200px;
  height:50px;
  background-color: #0A1040 ;
  color:white;
   font-family: futura, sans-serif;
  text-align: center;
  position: relative;
}

.projects {
  width: 200px;
  height:50px;
  background-color: #0A1040 ;
  color:white;
   font-family: futura, sans-serif;
  text-align: center;
  position: relative;
}

.social {
  width: 200px;
  height:50px;
  background-color: #0A1040 ;
  color:white;
   font-family: futura, sans-serif;
  text-align: center;
  position: relative;
}

.footer{
  width: 100%;
  font-family: futura, sans-serif;
  text-align: right;
  background-color: #0A1040 ;
  color:white;
  bottom: 0;
  left: 0;




}
a:visited {
  color:white;
}

a:hover {
color: yellow;
}

