.post {
  text-align: center;
  background-color: blue;
  color: white;
  font-family: Futura;
  border: 3px solid black;
  padding-bottom: 0px;
  margin-bottom: -20px;
}

.subtitle {
  text-align: center;
  background-color: yellow;
  color: Blue;
  font-family: Futura;
  border: 1px dashed black;
}

.date {
  background-color: blue;
  font-family: Futura;
  color: white;
  border: 1px dotted black;
  width: 15%;
}

h4 {
  text-align: center;
}

.about {
  background-color: yellow;
  font-family: Futura;
  color: blue;
  border: 1px dotted black;
  width: 15%;
}

.blogs {
  background-color: blue;
  font-family: Futura;
  color: white;
  border: 1px dashed black
  ;
  width: 15%;
}

.projects {
  background-color: yellow;
  font-family: Futura;
  color: blue;
  border: 1px dotted black;
  width: 15%;
}

#postimg {
  margin-left: 25%;
  margin-top: -240px;
  text-align: center;
  margin-bottom: 30px;
  border: 1px solid black;
  width: 50%;
}


.content {
  margin-left: 25%;
  width: 50%;
  text-align: left;
  border: 1px dashed black;
}

p {
  font-family: Futura;
  font-size: 18px;
}
